* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: rgb(157, 234, 236);
}

#login {
  text-align: right;
}

#encabezado {
  text-align: right;
  color: gray;
}

.contenedor-login {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 20px;
  gap: 10px;
}

hr {
  margin-top: 0;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.producto {
  max-width: 20%;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(235, 218, 143);
  border-radius: 5px;
}

h4 {
  color: blueviolet;
}
